<!doctype html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>Bitcoin Exchange | Ethereum Exchange | Litecoin Exchange</title>


<meta name="description" content="US based digital asset exchange with trading FIX API and REST API. Easy to deposit funds with Coinbase wallet, bank transfer, wire transfer, or digital currency.">

<meta name="keywords" content="Digital asset exchange, bitcoin exchange rate, ether exchange rate, gdax, ether, ethereum, litecoin, us bitcoin exchange, Bitcoin value, btc to usd, btc to ether, btc to eur, btc to cad, btc to gbp, bch to usd, bch to eur, public bitcoin trading API, Real-time exchange data">
<meta name="robots" content="index">
<meta name="apple-mobile-web-app-capable" content="yes">



<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/icon-114x114-precomposed.35cb0646552c496e58843788a93823d2.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/icon-72x72-precomposed.1ca87f380ae2d4dac3a3539071d90db4.png">

<link rel="stylesheet" href="/css/bootstrap.min.css"><link rel="shortcut icon" href="/favicon.ico">
<link href="/css/main.b5a2d9a8f3bd5e9ffb18399b0dc349cb.css" rel="stylesheet">
<link rel="stylesheet" href="/css/text.css">

</head>
<body >
<div id="page_content"><div class="Root_root_OY3Oi"><div>

<div class="HeaderView_header-view_1g3ah">
<div class="HeaderView_content_2NxRn" style="justify-content: space-around;">
<a title="Global Digital Asset Exchange - GDAX" href="/">


</a>
<div class="HeaderView_wide_K_0mm">
<div class="header_logo">
        <a href="#"><img src="assets/header_logo.png" alt="logo" width="135px"></a>
      </div>
<a href="http://exchange.traderium.io">Обмен криптовалюты</a>
<a href="http://www.invest.traderium.io">Вклады в криптовалюты</a>
<a href="#">Займы трейдерам</a>
<div class="HeaderView_spanner_3B0-V"></div>
<a name="signin" href="/login">Sign in</a>
<a class="base_btn_2G3ia base_btn-signup_2bJO5 base_btn-blue-outline_1xvSr" href="/login#register-form-link">Create Account</a>
</div>
<div class="HeaderView_medium_2a7wX"><div class="HeaderView_spanner_3B0-V"></div>
<a name="signin" href="/login">Sign in</a><a class="base_btn_2G3ia base_btn-signup_2bJO5 base_btn-blue-outline_1xvSr">Create Account</a></div>
<div class="HeaderView_narrow_zASCN">
<div class="HeaderView_spanner_3B0-V"></div>
<a name="signin" class="base_btn_2G3ia base_btn-signup_2bJO5 base_btn-blue-outline_1xvSr">Sign in</a>
</div>

<div class="desktop" id="language-dropdown">
  <div class="dropdown-wrap">
    <a class="dropdown-button" data-activates="lang-select" href="#:;" data-alignment="left" data-hover="false" data-beloworigin="true">
       Русский<i class="fa fa-chevron-down"></i>
    </a>
	<ul id="lang-select" class="dropdown-content" >

          <li>
            <a class="" title="Russian" href="#:;" data-locale="ru">
              English
            </a>
          </li>
          <li>
            <a class="" title="Chinese Simplified" href="#:;" data-locale="zh-CN">
              中文 (简化)
            </a>
          </li>
          <li>
            <a class="" title="Chinese Traditional" href="#:;" data-locale="zh-TW">
              中文 (繁體)
            </a>
          </li>
    </ul>
  </div>
</div>

</div>
</div>

<div class="JumbotronView_jumbotron-view_1-zrp">
	<div class="JumbotronView_content__uF1j">
		<div class="JumbotronView_intro_BkRh8">
			<h1>TRADERIUM - агрегатор финансового успеха!</h1>
			<p>Доступ к крупнейшим криптовалютным биржам мира, множество типов торговых ордеров, обмен и ввод/вывод активов, медиа сигналы, возможности и графики TradingView и много еще интересного….</p>
			<a class="base_btn_2G3ia base_btn-signup_2bJO5 base_btn-blue-outline_1xvSr base_btn-blue-primary_10zA7" href="#">Create Account</a>
			<a class="base_btn_2G3ia base_btn-signup_2bJO5 base_btn-white-outline_2NlM2" href="#">View Exchange</a>
		</div>
	<div class="JumbotronView_spacer_28H7P"></div>
	<div class="JumbotronView_trading-preview_1jnJh">
<!--
		<div class="traders">
		<span>Трейдеров:</span><span> 3654</span> ,<span> Онлайн:</span><span> 25</span>
		</div>

		<div class="transactions">
			<div class="transactions_pcs">241,256,325</div>
			<div class="transactions_h">Сделки открытые в системе</div>
		</div>
-->
		<div class="JumbotronView_image_WX0Ge" style="margin-top: 0px"></div>
<!--
		<section class="block-volume">
		<div class="row">
		  <div class="vol-data col s12 m4">
			<div>$951,671,317</div>
			<div class="desc">24 HOUR VOLUME</div>
		  </div>
		  <div class="vol-data col s12 m4">
			<div>$7,149,049,459</div>
			<div class="desc">7 DAY VOLUME</div>
		  </div>
		  <div class="vol-data col s12 m4">
			<div>$28,480,718,807</div>
			<div class="desc">30 DAY VOLUME</div>
		  </div>
		</div>
	  </section>
-->
	</div>
	</div>
</div>


<link rel="stylesheet" href="liMarquee/liMarquee.css"/>
<script type="text/javascript" src="liMarquee/jquery-1.8.3.min.js"></script>
<script type="text/javascript"src="liMarquee/jquery.liMarquee.js"></script>
<script type="text/javascript">
$(window).load(function(){
$('.str').liMarquee();
});
</script>
<style type="text/css">
.str .str_item {
font-size:0;
line-height:0
}
.str img {
opacity:0.8
}
.str img:hover {
opacity:1
}
</style>
<div class="TickerView_ticker-view_r_jZd">
<marquee behavior="scroll" scrollAmount="8" direction="left" width="100%" height="80" onMouseOver="this.scrollAmount=8" onMouseOut="this.scrollAmount=8">
<div class="TickerView_scroll-x_2rB2f">


<div class="TickerView_content_19xnq " >
<div class="TickerView_ticker-strip_2z0sa" >

<div class="ProductView_product-view_1Nbga" >
<div class="ProductView_details_zRZCN"><p class="ProductView_title_305IC">BCH/USD &nbsp;<span class="ProductView_up_3X3ks">1.97%</span></p><p class="ProductView_price_W-5qe"><span><span class="ProductView_number_GaI1o">1,072.00</span> USD</span></p><p class="ProductView_volume_2dlbZ">Volume: &nbsp;<span><span class="ProductView_number_GaI1o">7,305</span> BCH</span>
</p>
</div>
<div class="ProductView_chart_1G1rM"><div class="ProductView_chart-loading_1IJwm"><span></span><span></span><span></span></div></div>
</div>

<div class="ProductView_product-view_1Nbga">
<div class="ProductView_details_zRZCN"><p class="ProductView_title_305IC">BTC/USD &nbsp;<span class="ProductView_down_1ZKeE">-1.61%</span></p><p class="ProductView_price_W-5qe"><span>
<span class="ProductView_number_GaI1o">9,173.00</span> USD</span></p>
<p class="ProductView_volume_2dlbZ">Volume: &nbsp;<span><span class="ProductView_number_GaI1o">17,456</span> BTC</span></p></div>
<div class="ProductView_chart_1G1rM"><div class="ProductView_chart-loading_1IJwm"><span></span><span></span><span></span></div></div>
</div>

<div class="ProductView_product-view_1Nbga">
<div class="ProductView_details_zRZCN"><p class="ProductView_title_305IC">ETH/USD &nbsp;<span class="ProductView_down_1ZKeE">-2.18%</span></p><p class="ProductView_price_W-5qe"><span><span class="ProductView_number_GaI1o">711.00</span> USD</span></p><p class="ProductView_volume_2dlbZ">Volume: &nbsp;<span><span class="ProductView_number_GaI1o">72,785</span> ETH</span></p></div>
<div class="ProductView_chart_1G1rM"><div class="ProductView_chart-loading_1IJwm"><span></span><span></span><span></span></div></div>
</div>

<div class="ProductView_product-view_1Nbga">
<div class="ProductView_details_zRZCN"><p class="ProductView_title_305IC">LTC/USD &nbsp;<span class="ProductView_up_3X3ks">1.85%</span></p><p class="ProductView_price_W-5qe"><span><span class="ProductView_number_GaI1o">187.51</span> USD</span></p><p class="ProductView_volume_2dlbZ">Volume: &nbsp;<span><span class="ProductView_number_GaI1o">315,168</span> LTC</span></p></div>
<div class="ProductView_chart_1G1rM"><div class="ProductView_chart-loading_1IJwm"><span></span><span></span><span></span></div></div>
</div>

<div class="ProductView_product-view_1Nbga">
<div class="ProductView_details_zRZCN"><p class="ProductView_title_305IC">BTC/GBP &nbsp;<span class="ProductView_down_1ZKeE">-2.16%</span></p><p class="ProductView_price_W-5qe"><span><span class="ProductView_number_GaI1o">6,666.01</span> GBP</span></p><p class="ProductView_volume_2dlbZ">Volume: &nbsp;<span><span class="ProductView_number_GaI1o">372</span> BTC</span></p></div><div class="ProductView_chart_1G1rM"><div class="ProductView_chart-loading_1IJwm"><span></span><span></span><span></span></div></div>
</div>

<div class="ProductView_product-view_1Nbga">
<div class="ProductView_details_zRZCN"><p class="ProductView_title_305IC">BTC/EUR &nbsp;<span class="ProductView_down_1ZKeE">-2.27%</span></p><p class="ProductView_price_W-5qe"><span><span class="ProductView_number_GaI1o">7,452.00</span> EUR</span></p><p class="ProductView_volume_2dlbZ">Volume: &nbsp;<span><span class="ProductView_number_GaI1o">3,018</span> BTC</span></p></div>
<div class="ProductView_chart_1G1rM"><div class="ProductView_chart-loading_1IJwm"><span></span><span></span><span></span></div></div>
</div>

<div class="ProductView_product-view_1Nbga">
<div class="ProductView_details_zRZCN"><p class="ProductView_title_305IC">ETH/EUR &nbsp;<span class="ProductView_down_1ZKeE">-2.59%</span></p><p class="ProductView_price_W-5qe"><span><span class="ProductView_number_GaI1o">579.00</span> EUR</span></p><p class="ProductView_volume_2dlbZ">Volume: &nbsp;<span><span class="ProductView_number_GaI1o">7,031</span> ETH</span></p></div>
<div class="ProductView_chart_1G1rM"><div class="ProductView_chart-loading_1IJwm"><span></span><span></span><span></span></div></div>
</div>

<div class="ProductView_product-view_1Nbga">
<div class="ProductView_details_zRZCN"><p class="ProductView_title_305IC">LTC/EUR &nbsp;<span class="ProductView_up_3X3ks">1.35%</span></p><p class="ProductView_price_W-5qe"><span><span class="ProductView_number_GaI1o">152.66</span> EUR</span></p><p class="ProductView_volume_2dlbZ">Volume: &nbsp;<span><span class="ProductView_number_GaI1o">28,784</span> LTC</span></p></div>
<div class="ProductView_chart_1G1rM"><div class="ProductView_chart-loading_1IJwm"><span></span><span></span><span></span></div></div>
</div>

<div class="ProductView_product-view_1Nbga">
<div class="ProductView_details_zRZCN"><p class="ProductView_title_305IC">BCH/EUR &nbsp;<span class="ProductView_up_3X3ks">1.77%</span></p><p class="ProductView_price_W-5qe"><span><span class="ProductView_number_GaI1o">870.00</span> EUR</span></p><p class="ProductView_volume_2dlbZ">Volume: &nbsp;<span><span class="ProductView_number_GaI1o">432</span> BCH</span></p></div>
<div class="ProductView_chart_1G1rM"><div class="ProductView_chart-loading_1IJwm"><span></span><span></span><span></span></div></div>
</div>

<div class="ProductView_product-view_1Nbga">
<div class="ProductView_details_zRZCN"><p class="ProductView_title_305IC">BCH/BTC &nbsp;<span class="ProductView_up_3X3ks">3.94%</span></p><p class="ProductView_price_W-5qe"><span><span class="ProductView_number_GaI1o">0.12</span> BTC</span></p><p class="ProductView_volume_2dlbZ">Volume: &nbsp;<span><span class="ProductView_number_GaI1o">1,474</span> BCH</span></p></div>
<div class="ProductView_chart_1G1rM"><div class="ProductView_chart-loading_1IJwm"><span></span><span></span><span></span></div></div>
</div>

<div class="ProductView_product-view_1Nbga">
<div class="ProductView_details_zRZCN"><p class="ProductView_title_305IC">ETH/BTC &nbsp;<span class="ProductView_down_1ZKeE">-0.56%</span></p><p class="ProductView_price_W-5qe"><span><span class="ProductView_number_GaI1o">0.08</span> BTC</span></p><p class="ProductView_volume_2dlbZ">Volume: &nbsp;<span><span class="ProductView_number_GaI1o">6,177</span> ETH</span></p></div>
<div class="ProductView_chart_1G1rM"><div class="ProductView_chart-loading_1IJwm"><span></span><span></span><span></span></div></div>
</div>

<div class="ProductView_product-view_1Nbga">
<div class="ProductView_details_zRZCN"><p class="ProductView_title_305IC">LTC/BTC &nbsp;<span class="ProductView_up_3X3ks">3.18%</span></p><p class="ProductView_price_W-5qe"><span><span class="ProductView_number_GaI1o">0.02</span> BTC</span></p><p class="ProductView_volume_2dlbZ">Volume: &nbsp;<span><span class="ProductView_number_GaI1o">24,637</span> LTC</span></p></div>
<div class="ProductView_chart_1G1rM"><div class="ProductView_chart-loading_1IJwm"><span></span><span></span><span></span></div></div>
</div>

</div>


</div>
</marquee>
</div>

</div>





</div></div>
</div>
</body>
</html>